body {
  background-color: black;
  color: white;
}
.center {
  text-align: center;
}
#log-in-box {
  border: 5%;
  border-color: white;
}
.user {
  align-items: center;
  margin-left: 45%;
}
.wrapper {
  margin-left: 25%;
}
.icon {
  margin-right: 20px;
}
